.imageClinica {
    width: 100%;
    height: 450px;
    background-color: rgb(221, 234, 238);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.nameClinica{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(250, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}
.imageClinica img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introductionClinica{
    width:100%;
    font-size: 3vh;
    display: flex;
    background-color: rgb(255, 252, 252);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10%;
    padding-right: 10%;
}
#firstCard, #secondCard, #thirdCard, #fourthCard, #fifthcard{
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardTitleClinica{
    font-size: 4vh;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.cardTitleClinica:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}
#firstRowClinic, #secondRowClinic{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 100px;
} 
.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
} 
.buttonBack{
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 30%;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px){
    #firstCard, #secondCard, #thirdCard, #fourthCard, #fifthcard{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }
    #firstRowClinic, #secondRowClinic{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    #firstRowClinic{
        margin-bottom: none;
    }
}

