.contentEquipa{
    margin-top: 100px;
    margin-bottom: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}
#imageLogo{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 100px;
}
#contentEquipaCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 800px;
    height: 100%;
    background-color: transparent;
}
.cardBoxes{
    width: 100%;
    background-color: transparent;
    margin-block: 50px;
}
.rowCards{
    height:350px;
    margin-bottom: auto;
    font-size: 3vh;
}

@media screen and (min-width: 800px) and (max-width: 1500px) {
    
    #contentEquipaCards{
        font-size: 3vh;
    }
    .contentEquipa{
        height: 100%;
    }
    .cardBoxes{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .contentEquipa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #contentEquipaCards{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #imageLogo{
        display: none;
    }
    .rowCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .rowCards img{
        width: 100%;
        object-fit: cover;
        height: 100% !important;
    }
}
/*.carousel-item{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}*/