/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/


.fullContent{
    margin-top: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageUnderNav{
    width: 100%;
    height: 450px;
    position: relative;
    overflow:visible;
    align-self: center;
    margin-bottom: 75px;
}
.imageUnderNav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.firstRowHome{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 75vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-inline: 5%;
}
.welcomeMsg{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.photoRamiro{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.photoRamiroImg{
    width: 100%;
    max-height: 80%;
}
.photoRamiroImg img{
    width: 80%;
    height: 100%;
    object-fit:fill;
    overflow:hidden;
    border-radius: 20px;
}
.divider{
    width: 100%;
    height: 45vh;
    background-image: url("https://i.ibb.co/x5PJpHt/8954745-1932-min.jpg");
    /*background-image: url(https://i.ibb.co/cJkfnkz/separador-home.jpg);*/
    margin-top: 50px;
    margin-bottom: 50px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dividerText{
    background-color: white;
    color: black;
    font-size: 5.2vw;
    font-weight: bold;
    margin: 0 auto; 
    padding: 10px;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    mix-blend-mode: screen; 
}

.card-group{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-inline: 5%;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border: none;
    width: 450px;
    margin-inline: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow:hidden;
}
.rowOrtognatica{
    background-image: url("https://i.ibb.co/YXckzNK/v915-wit-001-d.jpg");
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
}
.textAndButtonOrtognatica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-top: 20px;
    font-size: 3vh;
}
.textAndButtonOrtognatica button{
    width: 30%;
}
.textOrtognática{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-bottom: 20px;
}

.card-text{
    font-size: 2vh;
    text-align: justify;
    margin-top: 20px;
}
h3 {
    padding-block: 20px;
}
h3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.lineUnderName{
    padding-block:0;
}
.lineUnderName:hover{
    transform: none;
}
#oral, #reabilitacaoImplantes{
    display: flex;
    width: 60%;
    margin: 30px;
}
#cardOrtognatica, #oral, #quistos{
    height: 100%;
    margin-inline: 20px;
}
#remocaoSisos img, #quistos img, #oral img, #reabilitacaoImplantes img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow:hidden;
    border-radius: 20px;
}
.btn{
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 50%;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.lineDivider{
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;

}
.row-tourismHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin-inline: 5%;
}
.row-tourismHome img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    overflow:hidden;
}
.tourism-content{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 800px){
    .fullContent{
        margin-top: 30px;
    }
    .firstRowHome{
        margin-top: 0;
    }
    #secondCardRow{
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
    .divider{
        width: 100%;
        height: 40vh;
        background-image: url(https://i.ibb.co/31rhchF/clinica-ramiro.jpg);
        margin-top: 8vh;
        margin-bottom: 8vh;
        background-size: cover;
        overflow: hidden;
        position: relative;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dividerText{
        background-color: white;
        color: black;
        font-size: 5.2vw; 
        font-weight: bold;
        margin: 0 auto; 
        padding: 1.5px;
        width: 50%;
        text-align: center; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        mix-blend-mode: screen; 
    }
    .imageUnderNav{
        height: 300px;
        margin-bottom: 10vh;
    }
    .welcomeMsg{
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        margin-bottom: 20px;
    }
    .photoRamiro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: flex wrap;
        justify-content: center;
    }
    .photoRamiroImg{
        display:flex;
        width: 100%;
        max-height: 100vh;
        margin-bottom: 5vh;
    }
    .photoRamiroImg img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        overflow:hidden;
    }
    .card-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        margin-inline: 0;
        margin-top: 0;
    }
    #cardOrtognatica, #quistos, #oral{
        background-color: rgb(204, 214, 226);
        width: 100%;
    }
    #cardOrtognatica img, #remocaoSisos img, #quistos img, #oral img, #reabilitacaoImplantes img{
        width: 90%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        overflow:hidden;
    }
    #cardOrtognatica, #remocaoSisos, #quistos, #oral, #reabilitacaoImplantes{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .firstRowHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .firstCardRow{
        margin-top: 0;
    }
    .btn{
        width: 60%;
        font-size: 3vh;
        margin-top: 15px;
    }
    .textOrtognática{
        margin-bottom: 0;
    }
    .row-tourismHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: 0;
        margin-top: 30px;
        height: 100%;
        width: 100%;
    }
    .tourism-content{
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        margin: 10px;
    }
    h3 {
        padding-block: 15px;
    }
    .textAndButtonOrtognatica button{
        width: 60%;
    }
}