.content-implantes{
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-family: 'Dosis', sans-serif;
}
.introductionImplantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    margin-top: 50px;
}
.introductionText{
    width: 100%;
    margin-left: 25px;
}
.introductionImageImplantes{
    width: 60%;
    height: 400px;
    left: 0;
    display: flex;
    margin-bottom: 50px;
}
.dentaduraPart{
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.introductionImageImplantes img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    overflow:hidden;
}
.dentaduraImage{
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.dentaduraImage img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    overflow:hidden;
}
.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    max-height: 35vh;
    width: 100%; 
}
.exemplo-first-image, .exemplo-second-image{
    width: 50%;
    height: 100%;
    display: flex;
    margin-inline:5%;  
}
.exemplo-first-image img, .exemplo-second-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    overflow:hidden;
}
.bottomTextImplantes{
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    font-size: 3vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 12vh;
}
.moreInfoImplantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btnImplantes{
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 30%;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

@media (max-width: 800px){
    .introductionImplantes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vh;
    }
    .introductionImageImplantes{
        width: 100%;
        height: 200px;
        display: flex;
    }
    .dentaduraPart{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        font-size: 2vh;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .dentaduraImage{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 0;
    }
    .photos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
        height: 200vh;
        width: 100%; 
    }
    .exemplo-first-image, .exemplo-second-image{
        width: 70%;
        height: 100%;
        margin-left: auto;
        margin-bottom: 35px;
        margin-right: auto;
    }
    .bottomTextImplantes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 2.5vh;
        margin-top: 40px;
    }
    .moreInfoImplantes{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .btnImplantes{
        border: none;
        border-radius: 20px;
        height: 50px;
        width: 100%;
        font-size: 3vh;
    }

}