
.navbar{
    /*background-color: aquamarine;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}

#navbarLinks{
    padding: 10px;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    position:relative;
}
#navbarBrand{
    width: 130px;
    height: 110px;
}
#navbarBrand img{
    width: 100%;
    background-color: white;
    object-fit: cover;
    top: 0;
}
