
.navbar{
    /*background-color: aquamarine;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}
#navbarLinks{
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    position:relative;
}
#navbarBrand{
    width: 130px;
    height: 110px;
}
#navbarBrand img{
    width: 100%;
    background-color: white;
    object-fit: cover;
    top: 0;
}
.languageSwitcher{
    width: 30px;
    background-color: transparent;
    margin: 5px;
    left: 0;
    
}
.btn-navbar::after {
    display: none;
}
.dropdown-menu {
    border: none;
}
#language button{
    width: 100%;
    background-color: transparent;
    align-items: end;
    border: none;
    margin-top: 2px;
}
#language img{
    width: 100%;
    background-color: transparent;
    object-fit: cover;
    margin:5px;
}
#language button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    border: none;
    top: 0;
}

#dropdownMaps{
    justify-content: center;
    align-items: center;
    margin-block: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
#dropdownMaps:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: white;
    border: none;
    top: 0;
}
#dropdownMaps img{
    width: 100%;
    background-color: transparent;
    object-fit: cover;
}

@media (max-width: 800px){
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        margin-bottom: 25px;
    }
    #navbarLinks{
        padding: 10px;
        margin-top: 30px;
        overflow-y: visible;
        display: flex;
        flex-direction: column;
        position:relative;
    }
    .dropdown-menu{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    .dropdown-menu:hover{
        background-color: #080707;
        border-color: white;
        color:white;
    }
    #navbarBrand{
        width: 12vh;
        height: 12vh;
    }
    #navbarBrand img{
        width: 100%;
        background-color: white;
        object-fit: cover;
        top: 0;
    }
}
