.contentAboutUs{
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
}

.textAboutUs{
    width: 100%;
    padding: 50px;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    margin-bottom: 75px;
    margin-top: 50px; 
}
.imageAboutUs {
    width: 100%;
    height: 60vh;
    border-radius: 15px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageAboutUs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titleCommitment, .titleValues{
    font-size: 4vh;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.titleCommitment{
    margin-top: 50px;
}
.commitment{
    width: 100%;
    border-radius: 15px;
    font-size: 3vh;
    margin-bottom: 6vh;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding:1.6vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.valuesImage{
    width: 100%;
    height: 400px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valuesImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.values{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.object {
    width: 22%;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    margin-bottom: 23vh;
  }
  
.infoText {
    display: none;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 2.5vh;
    border-radius: 20px;
    position: absolute;
    color: white;
    top: 100%; /* Muda a posição para aparecer abaixo do objeto */
    left: 0;
}
  .object:hover .infoText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
} 
.buttonBack{
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 30%;
    background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px){
    .textAboutUs{
        width: 100%;
        padding: 5vh;
        background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        border-radius: 15px;
        font-size: 3vh;
        margin-bottom: 10vh;
        margin-top: 7vh; 
    }
    .titleCommitment, .titleValues{
        font-size: 4vh;
        margin-bottom: 8vh;
        margin-left: auto;
        margin-right: auto;
    }
    .commitment{
        width: 100%;
        border-radius: 15px;
        font-size: 3vh;
        margin-bottom: 3vh;
        margin-top: 50px;
        background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        margin-top: auto;
    }
    .valuesImage{
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .valuesImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .values{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        align-items: center;
        margin-bottom: 5.5vh;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow-y: visible;
    }
    .object {
        width: 35vh;
        margin-left: auto;
        margin-right: auto;
        background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        border-radius: 15px;
        padding: 1vh;
        margin: 1.5vh;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
      
    .infoText {
        display: none;
        background-image: url(https://i.ibb.co/hfvfX4m/ceu.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 1vh;
        margin-top: 15px;
        font-size: 2vh;
        border-radius: 15px;
        position: relative;
        color: white;
        top: 100%; /* Muda a posição para aparecer abaixo do objeto */
        left: 0;
        
    }
      
    .object:hover .infoText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imageAboutUs {
        width: 100%;
        height: 50vh;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageAboutUs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
  
